

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/2/assets/contactbg.jpg');
    background-size: cover; /* This will cover the entire element and maintain aspect ratio */
    background-attachment: fixed; /* The image will not scroll with the page */
    background-repeat: no-repeat;
    background-position: center center; /* This will keep the image centered */
}
/* Home page css */

#black-rectangle {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 70px;  
background-color: black;
z-index: 2000; /* Higher z-index */
}
#mobile-nav-icon {
    position: fixed;
    top: 15px;
    right: 40px;
    font-size: 30px;
    color: white;
    z-index: 2001; /* Higher z-index to display in front of black rectangle */
}

/* Mobile Nav Overlay styles */
#mobile-nav-overlay {
    position: fixed;
    top: 70px;
    right: -100%;  /* Start off the screen */
    width: 80%;  /* Or however wide you want the overlay */
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align items to the left */
    justify-content: flex-start;  /* Align items to the top */
    padding: 20px;  /* Add some padding */
    z-index: 1000;  /* Higher z-index to display in front */
}

/* Add new style for mobile-nav-overlay links */
#mobile-nav-overlay a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif; /* New font */
    text-align: left;  /* Align text to the left */
    padding: 5px 10px; /* Add padding around the text */
    transition: background-color 0.3s ease; /* Transition effect for smooth background color change */

}

#mobile-nav-overlay a:hover {
    background-color: #ff1500c3; /* Red background on hover */
    color: white; /* Keep the text color white */
    text-decoration: none; /* Remove underline */
}

/* Mobile Dropdown Styles */
.mobile-dropdown {
    position: relative;
    display: inline-block;
}

.mobile-dropdown-content {
    display: none; /* Initially hidden */
    position: absolute;
    left: 100%; /* Position to the right of the button */
    top: 0; /* Align with the top of the button */
    background-color: black; /* Match the nav background */
    min-width: 160px; /* Adjust width as needed */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear; /* Add transitions */
    transition-delay: 0.5s; /* Delay of 500 milliseconds */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Fully transparent */
}

.mobile-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mobile-dropdown-content a:hover { background-color: #f1f1f1; color: black; }

.mobile-dropdown:hover .mobile-dropdown-content {
    display: block; /* Show on hover */
    visibility: visible; /* Make it visible on hover */
    opacity: 1; /* Fully opaque */
    transition-delay: 0.5s; /* No delay when hiding */
}

#close-nav-icon {
    position: absolute;
    top: -40px;
    right: 45px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.498);
    cursor: pointer;  /* Makes it clear that this is clickable */
    z-index: 1010;  /* Higher z-index to display in front */
}

/* New Nav styles */
#top-nav {
position: fixed;
top: 0;
right: 0;
display: none; /* Initially hidden */
padding-top: 40px; /* Padding at the top */
padding-right: 40px; /* Padding at the right */
z-index: 2000; /* Higher z-index */
}

#top-nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif; /* New font */
    padding: 5px 10px; /* Add padding around the text */
    transition: background-color 0.3s ease; /* Transition effect for smooth background color change */


}

#top-nav a:hover {
    background-color: #ff1500c3; /* Red background on hover */
    color: white; /* Keep the text color white */
    text-decoration: none; /* Remove underline */
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Fully transparent */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.415);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear; /* Apply transitions */
    transition-delay: 0.5s; /* Delay of 500 milliseconds */
}

.dropdown:hover .dropdown-content {
    visibility: visible; /* Make it visible on hover */
    opacity: 1; /* Fully opaque */
    transition-delay: 0.5s; /* No delay when hiding */
}

/* Nav logo styles */
#top-logo {
    position: fixed;
    top: 5px;  
    left: 20px;  
    width: 250px;  
    height: 150px;  
    background-image: url('/2/assets/Untitled-3\ transparent.png');  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: none;  /* Initially hidden */
    z-index: 2000; /* Higher z-index */
    }

#top-logo-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color unchanged, if any */
    /* Add any other style properties to maintain the original appearance of the logo */
} 

#contact-header {
    text-align: center; /* Center the text horizontally */
    width: 100%; /* Make sure it spans the full width of the page */
    position: relative; /* Use relative positioning */
    margin-top: 100px; /* Adjust the margin-top to push it below the nav */
    z-index: 10; /* Ensure it's above the background but below fixed elements */
}

#contact-header h1 {
    font-size: 2.5em; /* Large text for the header */
    color: white; /* White color text */
    font-family: 'PT Sans Caption', sans-serif; /* Use the PT Sans Caption Font */
    font-weight: bold; /* Make the font bold */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    line-height: 1.2; /* Adjust line height to suit your design */
}

#contactblack-square {
    flex-grow: 1; /* This will make the black square grow to fill available space */
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 10;
    margin-top: 50px;
    /* Remove the height property */
}

#contactblack-square-text {
    font-family: 'PT Sans Caption', sans-serif; /* PT Sans Caption font */
    font-weight: bold; /* Bold font weight */
    font-size: 19px; /* Font size */
    color: white; /* Text color white */
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Padding inside the black square */
    margin: 0 auto; /* Center the text block if needed */
    line-height: 1.4; /* Line height for better readability */
    margin-top: 40px;
}

#contactblack-square-text .large-gap {
    margin-top: 40px; /* Adjust the top margin as needed */
    margin-bottom: 40px; /* Adjust the bottom margin as needed */
    content: " ";
    display: block;
}



div#contactblack-square #contactblack-square-text {
    /* ... */
    color: white !important; /* This is a last resort to override other styles */
    text-align: center !important; /* This is a last resort to override other styles */
    /* ... */
}

/* Social icon styles (if not already present) */
.social-icons {
    display: flex;
    justify-content: center; /* Center the icons */
    padding: 10px 0; /* Add some padding above and below the icons */
}

.social-icons img {
    width: 70px; /* Adjust size as needed */
    height: auto;
    margin: 0 70px; /* Space out the icons */
}

.social-links {
    display: flex;
    flex-direction: row; /* Ensure flex items are laid out horizontally */
    justify-content: center; /* Center the icons */
    align-items: center; /* Center the icons vertically */
    flex-wrap: wrap; /* Allow the items to wrap as needed */
    gap: 10px; /* Adjust the gap between icons */
}

#contact-details {
    display: flex;
    flex-direction: row; /* Arrange the map and form side by side */
    justify-content: space-around; /* Distribute extra space around the items */
    align-items: flex-start; /* Align the items to the top */
    padding: 20px;
    gap: 20px; /* Add space between the map and form */
}

#mapid {
    height: 400px; /* Height is already set */
    width: 50%; /* Set the width to take the full width of its parent container */
    /* Add additional styles if needed */
}

#contact-form-container {
    flex: 1; /* Takes up the other half */
    padding: 10px;
}

#contact-form-container {
    padding-top: 0; /* Reduce padding at the top if needed */
    /* Other styles remain unchanged */
}

#contact-form-heading {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: left; /* Align text to the left */
    margin-top: 0px; /* Adjust space from the top, set to 0px or negative value to move up */
}

#contact-form-subheading {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    color: white;
    text-align: left; /* Align text to the left */
    margin-bottom: 10px; /* Reduced space above the form */
}

#contact-form-container input,
#contact-form-container textarea {
    margin-bottom: 10px; /* Adds space between form items */
    padding: 5px; /* Adds some padding inside form items */
    width: calc(100% - 20px); /* Full width minus padding */
    border: 1px solid #ccc; /* Adjust as per your design */
}



#required-fields-text {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 12px; /* Smaller font size for the note */
    color: white; /* Adjust the color as needed */
    text-align: left;
    display: block; /* Ensures it's on a new line */
    margin-bottom: 20px; /* Space before the message box */
}

#contact-form-container input[type="submit"] {
    cursor: pointer;
    background-color: #ff1500; /* Adjust button color as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contact-form-container textarea {
    margin-bottom: 10px; /* Adds space between form items */
    padding: 10px; /* Adds some padding inside form items */
    width: calc(100% - 20px); /* Full width minus padding */
    border: 1px solid #ccc; /* Adjust as per your design */
    height: 150px; /* Increased height for textarea */
    margin-top: -10px; /* Reduced to pull the box up */
}

#contact-form-container input[type="submit"]:hover {
    background-color: #e60000; /* Darker shade for hover effect */
}

#map-container,
#contact-form-section {
    flex: 1; /* Allow each child to take up equal space */
    padding: 10px;
}

/* Add this new CSS class for when the form is sent */
.sent {
    color: white;
    background-color: green;
    /* Add your preferred styles for the "sent" state */
}

/* Optional: Add a checkmark using a pseudo-element */
.sent::after {
    content: ' \u2714'; /* Unicode check mark */
    color: white;
}

.sent-button {
    background-color: #4CAF50 !important; /* Green */
    color: white !important;
  }



/* FOOTER SECTION */

#footer-section {
    display: block; /* Make sure the footer is not set to none */
    background-color: #141414;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    flex-shrink: 0;

    /* bottom: 0; Remove this as it's no longer absolutely positioned */
    /* position: absolute; Change this to static or remove it */
}

#footer-logo {
background-image: url('/2/assets/footerlogo.png'); /* Path to your footer logo */
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 370px; /* Set the width as needed */
height: 200px; /* Set the height as needed */
margin: 0 auto; /* Center the logo */
z-index: 2;
}

#footer-info {
display: flex;
justify-content: space-between;
padding: 20px;
color: white;
}

#footer-address, #footer-contact {
font-family: 'Spectral', serif;
flex: 1;
margin-top: 10px; /* Adjust this value as needed */
margin-bottom: 10px; /* Adjust this value as needed */

}

.footer-info {
display: flex;
gap: 10px; /* Adjust the space between the address and contact info */

}

.footer-contact a {
color: white; /* Adjust link color */
text-decoration: none; /* Optional: removes underline from links */
}

.footer-contact a:hover {
text-decoration: underline; /* Optional: adds underline on hover */
}
.footer-line {
width: 50%; /* Length of the horizontal line */
border-top: 1px solid white; /* Line color and thickness */
margin: 0px auto; /* Space above and below the line */
}

#disclaimer-text {
text-align: center; /* Centers the text */
color: white; /* Sets text color */
font-family: 'Overpass', sans-serif; /* Overpass font */
font-size: 14px; /* Adjust the size as needed */
margin-top: 20px; /* Space above the text */
margin-bottom: 20px; /* Space below the text */
}

.disclaimer-text {
font-family: 'Overpass', sans-serif; /* Using Overpass font */
color: white; /* Text color */
text-align: center; /* Centering the text */
width: 50%; /* Adjust width as needed */
margin: 20px auto; /* Centering the div with auto margin and some spacing from the content above */
font-size: 10px; /* Adjust font size as needed */
}

.social-links {
text-align: center; /* Center-align the container */
margin-top: 20px; /* Add some space above the links */
padding-bottom: 20px;
}

.social-links a {
margin: 0 50px; /* Space out the images */
display: inline-block; /* Display links inline */
vertical-align: middle; /* Align images vertically in the middle */
}

.social-links img {
width: 60px; /* Adjust width as needed */
height: auto; /* Maintain aspect ratio */
}

/* Media Query for smaller screens */
@media (max-width: 767px) {
    #top-nav {
        display: none;  /* Hide the top navigation bar */
    }
    #black-rectangle, #mobile-nav-icon {
        display: block;  /* Show the black rectangle and mobile nav icon */
    }
    #top-logo {
        width: 120px;  /* New smaller width */
        height: 60px;  /* New smaller height */
        top: 10px;  /* Adjust position */
    }
    /* Ensure mobile-nav-overlay is visible */
    #mobile-nav-overlay {
        display: flex; /* This will make sure it's displayed as a flex container */
    }

    #contact-details {
        flex-direction: column;
    }

    
} 